
.container1{
    display: flex;
    align-items: center;

}

.box1{
   margin-top: 80px;
   margin-left: 125px;
}

.box3{
    color: white;
    height: 300px;
    width: 350px;
    border: 1px solid black;
    margin-top: 125px;
    margin-left: 200px;
    padding-top: 10px;

}

.box4{

    width:320px;
    border-radius: 5px;
    height: 30px;
    margin-left: 10px;
    
    
}

.box5{

    width:320px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-left: 10px;
}

.box6{
    margin-left: 80px;
}

 .box7{width:320px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 5px;
    margin-left: 10px;
 }

 .box8{
     margin-left: 200px;
 }

 .child1{
    list-style: none;
    display: flex;
    background-color: whitesmoke;
 }

 .child6{
    margin-left: 650px;
    display: flex;
    gap: 20px;
 }

 .child5{
    color: white;
    background-color: blue;
    width: 60px;
    height: 25px;
 }

 .child2{
    padding-top: 3px;
 }

 .child9{
    

    width:320px;
    border-radius: 5px;
    height: 30px;
    
    
    


 }

 .child8{
    border: 1px solid black;
    display: flex;
    justify-content: center;
 }

 .child10{
    color: white;
    background-color: blue; 
    
 }

 